<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dareyobuapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user_ui.UserSettingsActivity"></activity>
        <activity android:name=".user_ui.UserCouponsActivity" />
        <activity android:name=".user_ui.UserBlacklistActivity" />
        <activity
            android:name=".user_ui.UserLikesFavActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".user_ui.UserReviewsActivity"/>
        <activity
            android:name=".user_ui.UserNavigationActivity"
            android:theme="@style/WhiteThemeTransparent" />
        <activity
            android:name=".user_ui.UserCompleteProfActivity"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".user_ui.UserVerifyOTPActivity"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".user_ui.UserAddPhoneActivity"
            android:parentActivityName=".user_ui.UserAddLocationActivity"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".user_ui.UserAddLocationActivity"
            android:parentActivityName=".user_ui.UserConnectActivity"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".user_ui.UserLoginActivity"
            android:parentActivityName=".user_ui.UserConnectActivity"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name=".user_ui.UserConnectActivity"
            android:theme="@style/WhiteThemeNoActionBar" />
        <activity
            android:name=".SliderActivity"
            android:theme="@style/WhiteThemeNoActionBar" />
        <activity
            android:name=".splash_screen.MainActivity"
            android:theme="@style/WhiteThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>